POSTGRES_DB=your-db-name
POSTGRES_USER=your-db-username
POSTGRES_PASSWORD=your-db-password
POSTGRES_HOST=your-db-host-name
POSTGRES_PORT=your-db-port
POSTGRES_SSLMODE=your-sslmode
POSTGRES_CHANNEL_BINDING=your-channel-binding
MAILJET_API_KEY=your-mail-jet-api-key
MAILJET_API_SECRET=your-mail-jet-api-secret
