DJANGO_SECRET_KEY=your-generated-django-secret-key
DEBUG=False
POSTGRES_DB=your-db-name
POSTGRES_USER=your-db-username
POSTGRES_PASSWORD=your-db-password
POSTGRES_HOST=your-db-host-name
POSTGRES_PORT=your-db-port
POSTGRES_SSLMODE=your-sslmode
POSTGRES_CHANNEL_BINDING=your-channel-binding
FRONTEND_ORIGINS=the-frontend-url
ALLOWED_HOSTS=the-backend-url
