DJANGO_SECRET_KEY=your-generated-django-secret-key
DEBUG=False

# Database Settings
POSTGRES_DB=your-db-name
POSTGRES_USER=your-db-username
POSTGRES_PASSWORD=your-db-password
POSTGRES_HOST=your-db-host-name
POSTGRES_PORT=5432
POSTGRES_SSLMODE=require
POSTGRES_CHANNEL_BINDING=require

# App Settings
FRONTEND_ORIGINS=http://localhost:5173
ALLOWED_HOSTS=localhost,127.0.0.1

# Email Settings
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-app-password
