
Django>=5.0
python-dotenv
gunicorn
django-cors-headers
black
isort
flake8
pytest
pytest-django
djangorestframework
djangorestframework-simplejwt
testcontainers[postgresql]
psycopg2-binary
mailjet-rest
pyotp
